body{
    background-color: black;
    margin: 0px;

}
.navbar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: gray;
    padding: 10px;
    margin: 0px;
}
.logo{
    display: flex;
    padding-left: 40px;
}
.nav-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 40px;
}
.circle{
    width: 65px;
    height: 65px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196,143,143);
}
.cicle img{
    width: 60px;
    height: auto;
    object-fit: contain;
}
.circle:hover{
    background-color: white;
}
